<!DOCTYPE html>
<html>
  <head>
    <title>REACCTING Data Dashboard</title>
    <h2 style="color:red">REACCTING Data Dashboard</h2>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='static/bower_components/bootstrap/dist/css/bootstrap.min.css' rel="stylesheet" media="screen">
    <link href='static/main.css' rel="stylesheet" media="screen">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
    <p>
      Go to <a href="/animation">GPS Animation</a><br>
      Go to <a href="/pemsAnimation">PEMs Animation</a><br>
      Go to <a href="/dataDocumentation">Data Import Documentation</a><br>
      Go to <a href="/howToUse">How To Use</a><br>
    </p>
  </body>
</html>